
.container, .container-fluid, footer{
    margin: 20px 0px 20px 0px;
    align-items: center;
}

@media(max-width:575px)
{
    h1, #carusel, ul, ol, footer{
        text-align: center;
    }
}
